<!-- Minimal visualization of DEPENDENCIES outputs from Eclipse Dash -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script>
    const PROJECTS = ["set", "model", "browser", "toolboxmodel"]

    function tableRow(row) {
        const tr = document.createElement("tr")
        for (const entry of row) {
            tr.createElement()
        }
    }

    async function fetchData(project) {
        const response = await fetch(`DEPENDENCIES.${project}`)
        const text = await response.text()

        console.log(text.length)
        return text.split("\n").map(entry => entry.split(",").map(d => d.trim()))
    }

    function updateTable(project, entries) {
        for (const data of entries) {
            const row = document.getElementById("data-table").children[1].insertRow(-1)

            if (data[2] === 'restricted')
                row.classList += "table-danger"

            if (data[3]?.includes("clearlydefined")) {
                data[3] = `<a href="https://clearlydefined.io/definitions/${data[0]}">clearlydefined</a>`
            } else if (data[3]?.startsWith("#")) {
                data[3] = `<a href="https://gitlab.eclipse.org/eclipsefdn/emo-team/iplab/-/issues/${data[3].substring(1)}">${data[3]}</a>`
            } else if (data[3]?.startsWith("CQ")) {
                data[3] = `<a href="https://dev.eclipse.org/ipzilla/show_bug.cgi?id=${data[3].substring(2)}">${data[3]}</a>`
            }
            row.insertCell().innerHTML = project
            row.insertCell().innerHTML = data[0]
            row.insertCell().innerHTML = data[1]
            row.insertCell().innerHTML = data[2]
            row.insertCell().innerHTML = data[3]
        }
    }


    const allData = {};

    function filterRestricted() {
        document.getElementById("data-table").children[1].innerHTML = "";
        for (const project of PROJECTS) {
            updateTable(project, allData[project].filter(data => data[2] === 'restricted'))
        }
    }

    function filterAll() {
        document.getElementById("data-table").children[1].innerHTML = "";
        for (const project of PROJECTS) {
            updateTable(project, allData[project])
        }
    }


    function filterProject(project) {
        document.getElementById("data-table").children[1].innerHTML = "";
        updateTable(project, allData[project])
    }


    (async () => {
        for (const project of PROJECTS) {
            allData[project] = await fetchData(project)
            updateTable(project, allData[project])

            const btn = document.createElement("button")
            btn.type = "button"
            btn.classList = "btn btn-secondary"
            btn.onclick = () => filterProject(project)
            btn.innerHTML = `Show ${project}`
            document.getElementById("group").appendChild(btn)
        }
    })()


</script>
<div class="btn-group" role="group" id="group">
    <button type="button" class="btn btn-success" onclick="filterAll()">Show all</button>
    <button type="button" class="btn btn-primary" onclick="filterRestricted()">Show restricted</button>
</div>
<table class="table table-striped" id="data-table">
    <thead>
        <tr>
            <th>Component</th>
            <th>Dependency</th>
            <th>License</th>
            <th>Status</th>
            <th>Source</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>